body {
    font-family: Arial, sans-serif;
}

.inventory_row input[type="number"] {
    width: 50px;
}

#add-item-row input[type="text"] {
    width: 120px;
}

#add-item-row input[type="number"] {
    width: 70px;
}

table {
    width: 100%;
}