{% extends "inventory_system/base.html" %}

{% block content %}
<div class="header">
    <h1>{{ county }} Totals</h1>
    <h3>Week ending {{ week.end_date|date:"m/d/y" }}</h3>
</div>

<table cellpadding="6">
    <tr>
        <th></th>
        {% for col in food_columns %}
        <th>{{ col.code_number }}</th>
        {% endfor %}
        <th><strong>Food Total</strong></th>
        {% for col in nonfood_columns %}
        <th>{{ col.code_number }}</th>
        {% endfor %}
        <th><strong>Inventory Total</strong></th>
    </tr>
    <tbody>
    <tr>
        <td><strong>Beginning</strong></td>
        {% for col in food_columns %}
        <td>${{ col.beginning|floatformat:"2g" }}</td>
        {% endfor %}
        <td><strong>${{ food_total_beginning|floatformat:"2g" }}</strong></td>
        {% for col in nonfood_columns %}
        <td>${{ col.beginning|floatformat:2 }}</td>
        {% endfor %}
        <td><strong>${{ grand_total_beginning|floatformat:"2g" }}</strong></td>
    </tr>
    <tr>
        <td><strong>Ending</strong></td>
        {% for col in food_columns %}
        <td>${{ col.ending|floatformat:2 }}</td>
        {% endfor %}
        <td><strong>${{ food_total_ending|floatformat:"2g" }}</strong></td>
        {% for col in nonfood_columns %}
        <td>${{ col.ending|floatformat:"2g" }}</td>
        {% endfor %}
        <td><strong>${{ grand_total_ending|floatformat:"2g" }}</strong></td>
    </tr>
</tbody>
</table>

{% include "inventory_system/_signoff.html" %}

{% include "inventory_system/_page_tabs.html" %}
{% endblock %}